In [1]:
import duckdb
import pandas as pd

from pathlib import Path

# read parquet file from data directory
files = list(Path('data').rglob('*.parquet'))
places = pd.read_parquet(files[0]).reset_index()
users = pd.read_parquet(files[1]).reset_index()
visits = pd.read_parquet(files[2]).reset_index()

# SELECT

The most prevalent utilisation of SQL is the retrieval of data from a database.  
This is achieved through the utilisation of the SELECT command, which returns records in a result table.  
This command has the capacity to select one or more columns within a table.

Let's try it !

In [2]:
query = """
SELECT * FROM places
"""
duckdb.sql(query)

┌──────────────────────────────────┬───────────┬───────────┬───────────────┬────────────────────┬───────────┐
│                id                │   long    │    lat    │     city      │      country       │ continent │
│             varchar              │  double   │  double   │    varchar    │      varchar       │  varchar  │
├──────────────────────────────────┼───────────┼───────────┼───────────────┼────────────────────┼───────────┤
│ f746ae96936d4815a24cc234fa4dcc0e │  37.65639 │   126.835 │ Goyang-si     │ Korea, Republic of │ Asia      │
│ 47a67ee50ff24942a8076b14c857dd3b │  55.67938 │  12.53463 │ Frederiksberg │ Denmark            │ Europe    │
│ 754c5ef9d155477dacac551f027d40b7 │   0.51667 │ 101.44167 │ Pekanbaru     │ Indonesia          │ Asia      │
│ f7f2699231744262ae705606d1c004ed │   13.8196 │ 100.04427 │ Nakhon Pathom │ Thailand           │ Asia      │
│ 55fe30a71c7948c9b13f6f070b324141 │  -7.81667 │ 112.01667 │ Kediri        │ Indonesia          │ Asia      │
│ 258a1235b21143e59d20b58c63e4c9bd │   3.31332 │ 117.59152 │ Tarakan       │ Indonesia          │ Asia      │
│ 99015ab1a6174c1fb7c9e1403578b183 │  65.84811 │  24.14662 │ Tornio        │ Finland            │ Europe    │
│ afab44659c5246f182dec038f9d74e04 │  -1.26424 │ 104.09701 │ Simpang       │ Indonesia          │ Asia      │
│ 74b080f5a993436d89e5bc4929af01aa │   37.1759 │  128.9889 │ T‚Äôaebaek    │ Korea, Republic of │ Asia      │
│ def70d1c812744b392b4a73eefc7808c │   60.2052 │   24.6522 │ Espoo         │ Finland            │ Europe    │
│                ·                 │      ·    │      ·    │   ·           │   ·                │   ·       │
│                ·                 │      ·    │      ·    │   ·           │   ·                │   ·       │
│                ·                 │      ·    │      ·    │   ·           │   ·                │   ·       │
│ d84d4c7a7c1547408959008a6516c2a4 │ -21.41222 │ -42.19667 │ Miracema      │ Brazil             │ America   │
│ f35b5f0f9f01480d8f449fd8014ed002 │  -19.7625 │ -44.31389 │ Esmeraldas    │ Brazil             │ America   │
│ 2175221b3c894ceb85de0a847e8b2f47 │  -7.73379 │ 113.69785 │ Besuki        │ Indonesia          │ Asia      │
│ 2fbe7332c2ee44beb869729f3efbe6a7 │  36.82167 │ 128.63083 │ Eisen         │ Korea, Republic of │ Asia      │
│ 1f36c95668d8450e8d660e391d31b92e │ -25.42944 │ -50.00639 │ Palmeira      │ Brazil             │ America   │
│ d1a9d20144814d3ea1c9d54c731de1f5 │   -7.0981 │  109.3243 │ Randudongkal  │ Indonesia          │ Asia      │
│ ed31af2c911b4512a028e056c07464ba │ -12.91667 │    -39.25 │ Muritiba      │ Brazil             │ America   │
│ 1e1f66a272e44320b42307a910d4900e │  34.61667 │     135.6 │ Yao           │ Japan              │ Asia      │
│ 5976b6a64c8c48319b7c9a21248d6ca6 │  39.46667 │    141.95 │ Yamada        │ Japan              │ Asia      │
│ 35eee75e856d4b1faf528dc00ddd23e8 │  -4.24444 │ -42.29444 │ Barras        │ Brazil             │ America   │
├──────────────────────────────────┴───────────┴───────────┴───────────────┴────────────────────┴───────────┤
│ 71 rows (20 shown)                                                                              6 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────┘

Wow, there is a lot of records and columns. Let's refine our query to only show city and country and limit to 10 results.

In [3]:
query = """
SELECT city, country FROM places LIMIT 10
"""
duckdb.sql(query)

┌───────────────┬────────────────────┐
│     city      │      country       │
│    varchar    │      varchar       │
├───────────────┼────────────────────┤
│ Goyang-si     │ Korea, Republic of │
│ Frederiksberg │ Denmark            │
│ Pekanbaru     │ Indonesia          │
│ Nakhon Pathom │ Thailand           │
│ Kediri        │ Indonesia          │
│ Tarakan       │ Indonesia          │
│ Tornio        │ Finland            │
│ Simpang       │ Indonesia          │
│ T‚Äôaebaek    │ Korea, Republic of │
│ Espoo         │ Finland            │
├───────────────┴────────────────────┤
│ 10 rows                  2 columns │
└────────────────────────────────────┘

## Distinct

Now, let's show unique countries in our table

In [4]:
query = "SELECT DISTINCT(country) FROM places"
duckdb.sql(query)

┌────────────────────┐
│      country       │
│      varchar       │
├────────────────────┤
│ Thailand           │
│ Japan              │
│ Sweden             │
│ Korea, Republic of │
│ Brazil             │
│ Norway             │
│ Indonesia          │
│ Denmark            │
│ Finland            │
└────────────────────┘

## Alias

In [5]:
query = "SELECT DISTINCT(continent) AS unique_continents FROM places"
duckdb.sql(query)

┌───────────────────┐
│ unique_continents │
│      varchar      │
├───────────────────┤
│ Asia              │
│ America           │
│ Europe            │
└───────────────────┘

# Limit and Offset

In [26]:
query = "SELECT * FROM places LIMIT 20"
duckdb.sql(query)

┌──────────────────────────────────┬───────────┬───────────┬────────────────┬────────────────────┬───────────┐
│                id                │   long    │    lat    │      city      │      country       │ continent │
│             varchar              │  double   │  double   │    varchar     │      varchar       │  varchar  │
├──────────────────────────────────┼───────────┼───────────┼────────────────┼────────────────────┼───────────┤
│ f746ae96936d4815a24cc234fa4dcc0e │  37.65639 │   126.835 │ Goyang-si      │ Korea, Republic of │ Asia      │
│ 47a67ee50ff24942a8076b14c857dd3b │  55.67938 │  12.53463 │ Frederiksberg  │ Denmark            │ Europe    │
│ 754c5ef9d155477dacac551f027d40b7 │   0.51667 │ 101.44167 │ Pekanbaru      │ Indonesia          │ Asia      │
│ f7f2699231744262ae705606d1c004ed │   13.8196 │ 100.04427 │ Nakhon Pathom  │ Thailand           │ Asia      │
│ 55fe30a71c7948c9b13f6f070b324141 │  -7.81667 │ 112.01667 │ Kediri         │ Indonesia          │ Asia      │
│ 258a1235b21143e59d20b58c63e4c9bd │   3.31332 │ 117.59152 │ Tarakan        │ Indonesia          │ Asia      │
│ 99015ab1a6174c1fb7c9e1403578b183 │  65.84811 │  24.14662 │ Tornio         │ Finland            │ Europe    │
│ afab44659c5246f182dec038f9d74e04 │  -1.26424 │ 104.09701 │ Simpang        │ Indonesia          │ Asia      │
│ 74b080f5a993436d89e5bc4929af01aa │   37.1759 │  128.9889 │ T‚Äôaebaek     │ Korea, Republic of │ Asia      │
│ def70d1c812744b392b4a73eefc7808c │   60.2052 │   24.6522 │ Espoo          │ Finland            │ Europe    │
│ 7c098f9b599e407b87a3fd2ebb34a485 │  15.79408 │  104.1451 │ Yasothon       │ Thailand           │ Asia      │
│ 4ff27b1e485e460d8e3cd5c30d0b55c9 │  60.18427 │  24.95034 │ Kallio         │ Finland            │ Europe    │
│ dcbb9e8f015d46e7a539e118f6226630 │ -25.42778 │ -49.27306 │ Curitiba       │ Brazil             │ America   │
│ f4d524a914734fd490d1ee3de649b57b │  36.20389 │ 127.08472 │ Nonsan         │ Korea, Republic of │ Asia      │
│ 0f93c3b1249b48d2acaca0886a26d838 │ -17.74431 │ -48.62789 │ Caldas Novas   │ Brazil             │ America   │
│ 7e89c5816b124df0a12536cea93d227c │ -28.44917 │     -52.2 │ Marau          │ Brazil             │ America   │
│ 41a08386b0cc429e8ebf5e5fd27a2be7 │  35.30889 │ 139.55028 │ Kamakura       │ Japan              │ Asia      │
│ 7cf9a7dd9d71444ab088969888735b37 │  -8.66667 │ -35.71667 │ Catende        │ Brazil             │ America   │
│ 309f134460444786bde124b9b1f7824f │  -29.2975 │ -51.50361 │ Carlos Barbosa │ Brazil             │ America   │
│ 6147c6a4f94047ddaaaedbeffed57f09 │  41.77583 │ 140.73667 │ Hakodate       │ Japan              │ Asia      │
├──────────────────────────────────┴───────────┴───────────┴────────────────┴────────────────────┴───────────┤
│ 20 rows                                                                                          6 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [27]:
query = "SELECT * FROM places LIMIT 5"
duckdb.sql(query)

┌──────────────────────────────────┬──────────┬───────────┬───────────────┬────────────────────┬───────────┐
│                id                │   long   │    lat    │     city      │      country       │ continent │
│             varchar              │  double  │  double   │    varchar    │      varchar       │  varchar  │
├──────────────────────────────────┼──────────┼───────────┼───────────────┼────────────────────┼───────────┤
│ f746ae96936d4815a24cc234fa4dcc0e │ 37.65639 │   126.835 │ Goyang-si     │ Korea, Republic of │ Asia      │
│ 47a67ee50ff24942a8076b14c857dd3b │ 55.67938 │  12.53463 │ Frederiksberg │ Denmark            │ Europe    │
│ 754c5ef9d155477dacac551f027d40b7 │  0.51667 │ 101.44167 │ Pekanbaru     │ Indonesia          │ Asia      │
│ f7f2699231744262ae705606d1c004ed │  13.8196 │ 100.04427 │ Nakhon Pathom │ Thailand           │ Asia      │
│ 55fe30a71c7948c9b13f6f070b324141 │ -7.81667 │ 112.01667 │ Kediri        │ Indonesia          │ Asia      │
└──────────────────────────────────┴──────────┴───────────┴───────────────┴────────────────────┴───────────┘

In [30]:
query = "SELECT * FROM places OFFSET 3 LIMIT 5"
duckdb.sql(query)

┌──────────────────────────────────┬──────────┬───────────┬───────────────┬───────────┬───────────┐
│                id                │   long   │    lat    │     city      │  country  │ continent │
│             varchar              │  double  │  double   │    varchar    │  varchar  │  varchar  │
├──────────────────────────────────┼──────────┼───────────┼───────────────┼───────────┼───────────┤
│ f7f2699231744262ae705606d1c004ed │  13.8196 │ 100.04427 │ Nakhon Pathom │ Thailand  │ Asia      │
│ 55fe30a71c7948c9b13f6f070b324141 │ -7.81667 │ 112.01667 │ Kediri        │ Indonesia │ Asia      │
│ 258a1235b21143e59d20b58c63e4c9bd │  3.31332 │ 117.59152 │ Tarakan       │ Indonesia │ Asia      │
│ 99015ab1a6174c1fb7c9e1403578b183 │ 65.84811 │  24.14662 │ Tornio        │ Finland   │ Europe    │
│ afab44659c5246f182dec038f9d74e04 │ -1.26424 │ 104.09701 │ Simpang       │ Indonesia │ Asia      │
└──────────────────────────────────┴──────────┴───────────┴───────────────┴───────────┴───────────┘